@import url(//fonts.googleapis.com/css?family=Roboto);


body {
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    font-size: 16px;
    color: $google_grey;
    letter-spacing: 0.046em;

}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 3em;
}


