
@mixin responsive-mixin {

    // Mobile Iphone 6/7/8
    @media screen and (min-device-width:375px), screen and (min-width:375px) {
        .main {
            height: 507px;

            .logo {
                margin: 36px auto 13px auto;
            }

        }

        .lang {
            margin-top: 15px;
        }
    }


    // Mobile Iphone 6/7/8 Plus
    @media screen and (min-device-width:414px), screen and (min-width:414px) {
        .main { 
            height: 577px;

            .logo {
                margin: 34px auto 16px auto;
            }

            .lang {
            margin-top: 1.25em;
            }
        }
    }


    // Laptop
    @media screen and (min-device-width:703px), screen and (min-width:703px) {

        .main {
            height: 870px;

            .logo {
                margin: 130px auto 30px auto;
                text-align: center;

                img {
                    height: 92px;
                    width: 272px;
                }
            }

            .lang {
                margin-top: 22px;
            }

            .search {
                margin-left: 16px;
                margin-right: 16px;                
            }
        }

    }


    // Desktop Screen
    @media screen and (min-device-width:800px), screen and (min-width:800px) {
        .desktop-only {
            display: block;
        }

        .mobile-only {
            display: none;
        }

        .main {
            height: auto;

            .logo {
                margin: 80px auto 15px auto;
            }

            .search {
                width: 580px;
                margin: auto;
                height: 44px;
            }

            .cta {
                display: flex;
                justify-content: center;
                margin-top: 32px;

                .btn {
                    font-size: 14px;
                    border: 1px solid $footer_bg;
                    color: $google_grey;
                    background-color: $footer_bg;
                    border-radius: 4px;
                    padding: 0 16px;
                    margin: 0px 6px;
                    height: 36px;
                    min-width: 54px;
                }
            }
            
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100vw;
            height: 81px;
            border-top: 1px solid $footer_border ;

            .country {
                & > div {
                    padding-left: 27px;
                    margin-left: 0;
                }
            }

            .legal {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 45px;
                line-height: 45px;

                & > div > a {
                    padding-left: 27px;
                    font-size: 14px;
                }

                & > div:first-child { // .mentions-links + .general-links
                    padding-top: 0;
                }
                
                .mentions-links {
                    order: 3;
                    display: flex;

                    & > a:first-child { // Infos consommateurs
                        order: 1;
                    }
                    & > a:nth-child(2) { // Paramètres
                        order: 4;
                        padding-right: 27px;
                    }
                    & > a:nth-child(3) { // Confidentialité
                        order: 2;
                    }
                    & > a:last-child { // Conditions
                        order: 3;
                    }
                }

                .general-links {
                    order: 1;
                    display: flex;

                    & > a:first-child {
                        padding-left: 27px;
                    }
                }

                .infos {
                    order: 2;
                }
            }
        }

    }


};
