
@mixin responsive-mixin {

    // Mobile Iphone 5/SE
    @media screen and (max-device-width:374px), screen and (max-width:374px) {
        .main {
            height: 408px;
        }

        .lang {
            margin-top: 1em;
        }
        
    }


    // Mobile Iphone 6/7/8
    @media screen and (min-device-width:375px), screen and (min-width:375px) {
        .main {
            height: 507px;

            .logo {
                margin-top: 36px;
            }
        }

        .lang {
            margin-top: 1.25em;
        }
    }


    // Mobile Iphone 6/7/8 Plus
    @media screen and (min-device-width:414px), screen and (min-width:414px) {
        .main {
            height: 576px;
        }

        .lang {
            margin-top: 1.25em;
        }
    }


    // Laptop
    @media screen and (min-device-width:703px), screen and (min-width:703px) {

        .main {
            height: 883px;

            .logo {
                margin: 146px auto 1.125em auto;

                img {
                    height: 92px;
                    width: 272px;
                }
            }

            .search {
                margin-top: 53px;
            }

            .lang {
                margin-top: 22px;
            }
        }

        
    }


    // Large Screen
    @media screen and (min-device-width:800px), screen and (min-width:800px) {
        .main {
            height: 780px;
            // 122px for footer
        }
    }
};
