// Colors
$google_blue : #4285f4;
$google_button : #1A73E8;
$google_grey : #757575;
$google_grey_dark : #5f6368;
$footer_bg: #f2f2f2;
$footer_border: #e4e4e4;

// Sizing
$footer_height: 215px;
$nav_height: 48px;

