@import 'font';
@import 'variables';



body {
    width: 100vw;
    height: 100vh;
    background-color: blue;

}

nav { 
    height: $nav_height;
    background-color: red;
} 

main { 
    background-color: green; 
    @include responsive-main-height;

}

footer { 
    height: $footer_height;
    width: 100vw;
    background-color: yellow;
} 