@import url(//fonts.googleapis.com/css?family=Roboto);
body {
  font-family: Roboto,HelveticaNeue,Arial,sans-serif;
  font-size: 16px;
  color: #757575;
  letter-spacing: 0.046em; }

a:visited {
  color: inherit; }

a {
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 600;
  line-height: 3em; }

body {
  width: 100vh;
  height: 100vh;
  background-color: blue; }

nav {
  height: 8.45vh;
  width: 100vw;
  background-color: red; }
