@import url(//fonts.googleapis.com/css?family=Roboto);
body {
  font-family: Roboto,HelveticaNeue,Arial,sans-serif;
  font-size: 16px;
  color: #757575;
  letter-spacing: 0.046em; }

a:visited {
  color: inherit; }

a {
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 600;
  line-height: 3em; }

body {
  font-size: 16px;
  height: 100vh;
  width: 100vw; }

nav {
  height: 3em;
  width: 23.4375em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; }
  nav > div {
    display: flex;
    flex-direction: row; }
  nav .left-nav .hamburger {
    margin: auto 1em;
    height: 1.5em;
    width: 1.5em;
    max-height: 3em; }
    nav .left-nav .hamburger img {
      width: 100%;
      height: 100%; }
  nav .left-nav .link {
    padding-right: 0.6em;
    padding-left: 0.6em;
    margin: auto 0.4em auto 0.4em;
    text-transform: uppercase;
    font-weight: 600; }
  nav .right-nav {
    width: 10.625em; }
    nav .right-nav button {
      width: 100%;
      background-color: #1A73E8;
      color: white;
      border: none;
      border-radius: 4px;
      margin: 0.5em 1em 0.5em 0.5em; }
    nav .right-nav .bento {
      padding: 1em; }
      nav .right-nav .bento img {
        width: 1em;
        height: 1em; }
  nav .active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4; }

.main {
  height: 31.75em;
  padding-top: 1.25em; }
  .main .logo {
    margin: 2.25em auto 1.125em auto;
    max-height: 4.5em;
    max-width: 10em; }
    .main .logo img {
      margin: 0.5em 0;
      height: 100%;
      width: 100%; }
  .main .search {
    margin: 0.5em;
    height: 2.5em;
    border: 1px solid #dadce0;
    border-radius: 25px; }
    .main .search img {
      height: 2.5em;
      width: 1.5em;
      margin-left: 0.5em; }
  .main .lang {
    height: 1.75em;
    margin-top: 1.25em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8125px;
    letter-spacing: normal;
    text-align: center;
    font-size: small; }
    .main .lang a {
      padding: 0 0.61538em;
      color: #1967d2;
      font-size: 13px;
      font-weight: normal; }

footer {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  background-color: #f2f2f2;
  height: 5.6875em; }
  footer > div {
    border-bottom: 1px solid #e4e4e4; }
  footer > div:first-child {
    border-top: none; }
  footer .country {
    height: 2.1875em;
    margin: auto; }
    footer .country div {
      line-height: 2.1874em;
      margin: auto 0.75em; }
  footer .localisation {
    padding: 1.1538em 0;
    height: 1.923em;
    font-size: 13px;
    line-height: 1.5625em;
    text-align: center; }
    footer .localisation img {
      width: 0.77em; }
    footer .localisation .position {
      font-weight: bold;
      color: #333;
      height: 4.308em; }
      footer .localisation .position:after {
        content: " - ";
        color: #333;
        font-weight: normal; }
  footer .legal {
    background-color: #f2f2f2;
    text-align: center;
    display: block;
    padding-bottom: 0.769em; }
    footer .legal > div > a {
      padding-left: 2.077em; }
      footer .legal > div > a:first-child {
        padding-left: 0; }
    footer .legal a {
      line-height: 2.692em;
      font-weight: 400;
      font-size: 13px; }
    footer .legal > div:first-child {
      padding-top: 0.769em; }
